- form_for(activity) do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :start
    %br
    = f.datetime_select :start
  %p
    = f.label :stop
    %br
    = f.datetime_select :stop
  %p
    = f.label :tag_list
    %br
    = f.text_field :tag_list
  %p
    = f.label :comment
    %br
    = f.text_area :comment
  %p
    = f.submit "Submit"